out
input
.gradle
.idea
build
compile_and_run_tests.bat
*.jar
output.eo
output_eo
polystat_check
/hadoop/
/output_hadoop/
/bin
/project
.metals/
.vscode
hadoop*
j2eo-data
src/main/java/parser/
!src/main/java/parser/ParseException.java
!src/main/java/parser/TreeMappings.kt
!src/main/java/parser/Visitor.kt
