name: Gradle Build

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  gradle:
    strategy:
      matrix:
        os: [
            macos-latest,
            windows-latest
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 16

      - uses: gradle/gradle-build-action@v1
        with:
          arguments: build --info

      - uses: gradle/gradle-build-action@v1
        with:
          arguments: test --info

  gradle_ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 16

      - run: |
          wget http://ftp.gnu.org/gnu/bison/bison-3.8.tar.gz
          tar -zxvf bison-3.8.tar.gz
          cd bison-3.8
          ./configure
          make
          sudo make install
          bison -V

      - uses: gradle/gradle-build-action@v1
        with:
          arguments: build --info

      - uses: gradle/gradle-build-action@v1
        with:
          arguments: test --info

      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv
