name: Gradle Build

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  gradle:
    strategy:
      matrix:
        os: [
            macos-latest,
            windows-latest
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v1
        with:
          java-version: 16

      - uses: gradle/gradle-build-action@v1
        with:
          arguments: build --info --no-build-cache

      - name: Upload Gradle test report
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: gradle-test-report-${{ matrix.os }}
          path: build/reports/tests/test/

      - name: Print J2EO test report
        run: |
          cd ./src/test/resources/
          python ./test_report.py

  gradle_ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v1
        with:
          java-version: 16

      - run: |
          wget http://ftp.gnu.org/gnu/bison/bison-3.8.tar.gz
          tar -zxvf bison-3.8.tar.gz
          cd bison-3.8
          ./configure
          make
          sudo make install
          bison -V

      - uses: gradle/gradle-build-action@v1
        with:
          arguments: build --info

      - name: Upload Gradle test report
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: gradle-test-report-ubuntu-latest
          path: build/reports/tests/test/

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Clean Bison directory
        run: |
          pwd
          rm -r ./bison-3.8

      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v2
        with:
          name: jacoco-report
          path: target/site/jacoco/

      - name: Print J2EO test report
        run: |
          cd ./src/test/resources/
          python ./test_report.py
